@media screen and (min-width: 768px) {
  /* ================================= Showcase */
  .showcase {
    padding: 5rem;
  }

  .text h2 {
    font-size: 5rem;
  }

  .text h3 {
    font-size: 2rem;
  }

  /* ================================ About Page */
  #why-us .why-us {
    flex-direction: row;
    align-items: stretch;
  }

  #why-us .why-us .why-us-box {
    flex: 1;
  }

  /* =============================== Services Page */
  #services .services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  #services .services .service-box {
    width: 350px;
    margin-right: 1rem;
  }

  /* ================================ Blog Page */
  #blog .blogs-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  #blog .blogs-wrap .blog-box {
    margin-right: 2rem;
    width: 300px;
  }
}
