@media screen and (min-width: 768px) {
  /* ================================= Showcase */
  .showcase {
    padding: 5rem;
  }

  .text h2 {
    font-size: 5rem;
  }

  .text h3 {
    font-size: 2rem;
  }

  /* ================================ About Page */
  #why-us .why-us {
    flex-direction: row;
    align-items: stretch;
  }

  #why-us .why-us .why-us-box {
    flex: 1;
  }
}
