:root {
  --white: #fff;
  --black: #000;
  --overlay: #1a1a1a;
  --special: yellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("/font/Poppins-Regular.ttf");
}

body {
  font-family: "Poppins-Regular", Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 1rem 0;
}

.lead-h {
  font-size: 2rem;
  text-transform: uppercase;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
}

.special-1 {
  color: var(--special);
}

.btn-light {
  display: inline-block;
  font-size: 1rem;
  background: var(--white);
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--black);
  margin: 1rem 1rem 0 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-light:hover {
  letter-spacing: 6px;
}

.btn-dark {
  display: inline-block;
  font-size: 1rem;
  background: var(--black);
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--white);
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-dark:hover {
  letter-spacing: 6px;
}
